html, body, #root {
  height: 100%;
}
body, #root {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 10px;
  background: #000000;
}

.header a {
  color: #ffffff;
  margin: auto 15px;
}

.header a.logo-link {
  margin: 0;
}

.content {
  flex: 1 0 auto;
  padding: 0 15px;
}
.footer {
  background: #000000;
  color: #ffffff;
  padding :0 15px;
  font-size: 0.8rem;
  flex-shrink: 0;
}

